@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,900);

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 1.0em 0 1.0em 0;
}

#root {
  background: lightgrey;
  display:block;
  color: black;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.module {
    padding:10px;
}

.mainNav {
  background: #1d2224;
  color: white
}

.promoNav {
  background: #394a52;
  color: white
}

input.name-input {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.0em;
  height: 30px;
  border: 0;
  border-bottom: solid 1px;
  background: lightslategray;
  padding: 10px;
  margin-left: 10px;
}

.img {
  width: 100%;
  max-width: 350px;
}

a.nav {
  color: white
}