@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,900);

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 1.0em 0 1.0em 0;
}

#root {
  background: lightgrey;
  display:block;
  color: black;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.promo {
  color: #FFF;
  height: 400px;
  padding: 20px
}
.noscroll { overflow: hidden; }
.scroll { bottom: 0}

.nav-wrapper {

  position: fixed;
  top: 0; left: 0; top: 0;
  width: 100%;
  z-index: 20;
  overflow-y: auto;
}

.main-nav {
  background: #1d2224;
  color: white;
}

.promo-nav {
  background: #394a52;
  color: white;
}

.nav-img {
  width: 100%;
  max-width: 220px;
}

a.nav {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

.last {
  margin-left: auto;
}

input.name-input {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.0em;
  height: 30px;
  border: 0;
  border-bottom: solid 1px;
  background: lightgrey;
  padding: 10px;
  margin-left: 10px;
}
